<P>

      <h2>
       <%= @restaurant.name %> <br/>
       <%= @restaurant.phone_number %> <br/>
       <%= @restaurant.address %> <br/>
      </h2>
</P>	

<h1>

<%= link_to 'Book a reservation', reservations_path %>

</h1>